$main-font-family: "Manrope", sans-serif; // FONTS

$dark: #101010;
$gray: #f1f1f1;
$light-gray: #fafafa;
$white: #fff;
$black: #000;
$btn-bg: #d87d4a;
$btn-hover: #fbaf85;
$black-btn-hover: #4c4c4c; // COLORS

$transtion-duration: 0.5s;
